@model uvrp.Partners

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<input type="hidden" id="addClass" value="1" />
<div class="mb-3">
    <h2>Add Partner</h2>
</div>

@using (Html.BeginForm("Add", "Partners", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="input-group mb-3">
        @Html.TextBox("file", "", new { type = "file", @class = "form-control outline lg" })
        <input type="submit" value="Upload" class="btn btn-outline-primary"/>
        @ViewBag.Message
    </div>
}

<div class="row">
    <div class="col-12 text-right">
        @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-outline-primary" })
    </div>
</div>
