@{
    ViewBag.Title = "Resources";
}
<div class="banner inner-page-banner" style="background: url('@Url.Content("~/Content/img/banner_bg2.svg")') no-repeat center;">
    @if (User.Identity.IsAuthenticated)
        {
            <div class="text-right section-editBtn for-banner">
                    <a href="/Templates/GoEdit?pageName=@Request.Url.ToString().Split('/').Last()&section=Banner" class="btn btn-link btn-sm">
                        <i class="fa fa-pencil-square fa-lg"></i>
                    </a>
            </div>
        }
    <div class="layer"></div>
    <div id="headerText" class="content">
    </div>
</div>
<div id="section1" class="common-section">
    @if (User.Identity.IsAuthenticated)
     {
         <div class="text-right section-editBtn">
                 <a href="/Templates/GoEdit?pageName=@Request.Url.ToString().Split('/').Last()&section=Section1" class="btn btn-link btn-sm">
                     <i class="fa fa-pencil-square fa-lg"></i>
                 </a>
         </div>
     }
    <div class="container">
    </div>
</div>

<div class="common-section dark-section">
    @if (User.Identity.IsAuthenticated)
     {
         <div class="text-right section-editBtn">
                 <a href="/Resources" class="btn btn-link btn-sm">
                     <i class="fa fa-pencil-square fa-lg"></i>
                 </a>
         </div>
     }
    <div class="container">
        <div id="resources" class="form-row align-items-center justify-content-center">

        </div>
    </div>
</div>
<div id="loader" class="overlay">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            type: "GET",
            url: "/Home/GetInnerPageContent/Resources",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response){
                                     response.forEach(function(item, index){
                                         if(item.Section == "Banner"){
                                             $('.banner.inner-page-banner').css("background-image", `url(/Content/img/${item.Image})`)                        
                                             $('#headerText').html('');
                                             $('#headerText').append(item.Content);
                                         } else if(item.Section == "Section1"){
                                             $('#section1').find('.container').html('');
                                             $('#section1').find('.container').append(item.Content);
                                             
                                             if(item.Image){
                                                 $('#section1').css("background-image", `url(/Content/img/${item.Image})`)
                                             }
                                             
                                             
                                         } else if(item.Section == "Section2"){
                                             $('#section2').find('.container').html('');
                                             $('#section2').find('.container').append(item.Content);
                                             
                                             if(item.Image){
                                                 $('#section2').css("background-image", `url(/Content/img/${item.Image})`)
                                             }
                                         }
                                        
                                     });
                                     
                                 },
            failure: function(response) {
                console.log(response);
            },
            error: function(response){
                console.log(response);
            }
        });
   
        $.ajax({
            type: "GET",
            url: "/Home/GetResources",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response){
                console.log(response);
                if(response.length > 0){
                    $('#resources').html('');
                    response.forEach( function(item, index){
                        $('#resources').append(`<div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                                    <div class="Resource-item mb-3 text-center">
                                                        <div class="icon-div">
                                                            <img src="/Content/img/${item.IconImage}" alt="icon" class="img-fluid" />
                                                        </div>
                                                        <div class="content">
                                                            <div class="mb-1">${item.Title}</div>
                                                            <div class="font-raleway font-weight-normal">
                                                                ${item.Description}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>`);
                    });
                }
                $('#loader').hide()
            },
            failure: function(response) {
                console.log(response);
            },
            error: function(response){
                console.log(response);
            }
        });
   
    });
</script>
