@{
    ViewBag.Title = "Training";
}
<div class="banner inner-page-banner" style="background: url('@Url.Content("~/Content/img/banner_bg3.svg")') no-repeat center;">
    <div class="layer"></div>
    <div class="content">

    </div>
</div>
<div class="common-section">
    <div class="container">
        
    </div>
</div>


